@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model dynamic

@{
    ViewData["Title"] = "Details";
    var owner = ViewData["Owner"] as Bissues.Models.AppUser;
}

<h1>Details</h1>

<div>
    <h4>Bissue</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Title
        </dt>
        <dd class = "col-sm-10">
            @Model.Bissue.Title
        </dd>
        <dt class = "col-sm-2">
            Description
        </dt>
        <dd class = "description col-sm-10">
            @Model.Bissue.Description
        </dd>
        <dt class = "col-sm-2">
            IsOpen
        </dt>
        <dd class = "col-sm-10">
            @Model.Bissue.IsOpen
        </dd>
        <dt class = "col-sm-2">
            Project
        </dt>
        <dd class = "col-sm-10">
            @Model.Bissue.Project.Name
        </dd>
        <dt class = "col-sm-2">
            Created
        </dt>
        <dd class = "col-sm-10">
            @Model.Bissue.CreatedDate
        </dd>
        <dt class = "col-sm-2">
            Modified
        </dt>
        <dd class = "col-sm-10">
            @Model.Bissue.ModifiedDate
        </dd>
    </dl>
</div>
<div>
    @if (SignInManager.IsSignedIn(User) && User.Identity.Name == owner.UserName || User.IsInRole("Admin"))
    {
        <a class = "btn btn-link" asp-controller="Bissues" asp-action="Edit" asp-route-id="@Model.Bissue.Id">Edit</a> <span>|</span>
    }
    <button class = "btn btn-link" onclick="goBack()">Back</button>
</div>
<div>
    <h2>Messages</h2>
    <a asp-controller="Messages" asp-route-bid="@Model.Bissue.Id" asp-action="Create">Reply</a>
    @if(Model.Messages != null)
    {
        @foreach(var msg in Model.Messages)
        {
            <div class = "card">
                <div class = "card-body">
                    <p class = "card-title"><small>@msg.AppUser.DisplayName</small></p>
                    <p class = "card-text">@msg.Body</p>
                </div>
            </div>
        }
    }
    else
    {
        <p>
            No Messages yet!
        </p>
    }
</div>