@model System.Collections.Generic.List<Bissues.Models.AppUser>
@{
    ViewData["Title"] = "Admin Page - Manage Users";
}

    <div class="col-md-10">
        <h1 class="display-4">Manage Users</h1>
    </div>
    <hr/>

    <div class="container px-4">
        @foreach (var user in Model)
        {
            @if(user.UserName == "admin@admin.com"){continue;}
            <div class = "card mb-2">
                    <div class="card-body text-dark">
                        <p class="card-text">
                            <dl class="row">
                                <dt class="col-sm-3">Account:</dt>
                                <dd class="col-sm-9">@user.UserName</dd>

                                <dt class="col-sm-3">First Name:</dt>
                                <dd class="col-sm-9">@user.FirstName</dd>

                                <dt class="col-sm-3">Last Name:</dt>
                                <dd class="col-sm-9">@user.LastName</dd>

                                <dt class="col-sm-3">Display Name:</dt>
                                <dd class="col-sm-9">@user.DisplayName</dd>
                            </dl>
                            @if(user.LockoutEnabled == true)
                            {
                                <a class="btn btn-warning text-dark" asp-controller="Admin" asp-action="ToggleLockUser" asp-route-sid="@user.Id">Un-Lock?</a>
                            }
                            else
                            {
                                <a class="btn btn-danger text-light" asp-controller="Admin" asp-action="ToggleLockUser" asp-route-sid="@user.Id">Lock?</a>

                            }
                        </p>
                        <footer>Id: @user.Id</footer>
                    </div>
                        
            </div>
        }
    </div>
