@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model Bissues.ViewModels.BissuesDetailsViewModel

@{
    ViewData["Title"] = "Details";
    var owner = ViewData["Owner"] as Bissues.Models.AppUser;
}

<a class="text-light" asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Bissue.Project.Id">Project: @Model.Bissue.Project.Name</a>

<div>
    <h2>Bissue: @Model.Bissue.Title</h2>
    User: @Model.Bissue.AppUser.DisplayName <br />
    @if(@Model.Bissue.IsOpen)
    {
        <span class="text-success">Open</span>
    }
    else
    {
        <span class="text-danger">Closed</span>
    }
    <small>Created: @Model.Bissue.CreatedDate.ToString("MMM dd, yyyy hh:mm tt") | Last Modified: @Model.Bissue.ModifiedDate.ToString("MMM dd, yyyy hh:mm tt")</small>
    <hr/>
    
    <div class="description pl-md-4 pr-md-4 pb-md-3 mb-md-2">
        <h5>Description:</h5>
        @Model.Bissue.Description
    </div>
    <hr/>
    
</div>
<div>
    @if (SignInManager.IsSignedIn(User) && User.Identity.Name == Model.Bissue.AppUser.UserName || User.IsInRole("Admin"))
    {
        <a class = "btn btn-link" asp-controller="Bissues" asp-action="Edit" asp-route-id="@Model.Bissue.Id">Edit</a> <span>|</span>
    }
    <a asp-controller="Messages" asp-route-bid="@Model.Bissue.Id" asp-action="Create" class="btn btn-primary">New Message</a>
    <a class = "btn btn-primary" href="javascript:goBack();">Back</a>
</div>
<div>
    <h2>Messages</h2>
    @if(Model.Messages != null)
    {
        @foreach(var msg in Model.Messages)
        {
            <div class="card mb-2 text-dark">
                <div class="card-body">
                    <p class="card-title"><u>@msg.AppUser.DisplayName</u> - <small class="text-muted">@msg.CreatedDate.ToString("ddd MMM dd, yyyy h:mm tt")</small></p>
                    <p class="card-text description">@msg.Body</p>
                </div>
                <div class="card-footer">
                    <small>Last edited: <span class="text-muted">@msg.ModifiedDate.ToString("ddd MMM dd, yyyy h:mm tt")</span></small>
                @if (SignInManager.IsSignedIn(User) && User.Identity.Name == msg.AppUser.UserName || User.IsInRole("Admin"))
                {
                    <a asp-controller="Messages" asp-action="Edit" asp-route-id="@msg.Id" class="btn btn-info">Edit message</a>
                }
                </div>
            </div>
        }
    }
    else
    {
        <p>
            No Messages yet!
        </p>
    }
</div>

<table cellpadding="0" cellspacing="0">
    <tr>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <td>
                @if (i != Model.CurrentIndex)
                {
                    <a class="btn btn-outline-primary m-1" asp-action="Details" asp-route-id="@Model.Bissue.Id" asp-route-currentIndex="@i" >@i</a>
                }
                else
                {
                    <span class="btn btn-outline-secondary">@i</span>
                }
            </td>
        }
    </tr>
</table>