@using Microsoft.AspNetCore.Identity
@using Westwind.AspNetCore.Markdown
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model Bissues.ViewModels.BissuesDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Bissue.Project.Id">Project: @Model.Bissue.Project.Name</a>

<div>
    <h2>Bissue: @Model.Bissue.Title</h2>
    ID: @Model.Bissue.Id <br />
    User: @Model.Bissue.AppUser.DisplayName <br />
    <span class="pr-2">
    Status: 
    @if(@Model.Bissue.IsOpen)
    {
        <span class="badge badge-success">Open</span>
    }
    else
    {
        <span class="badge badge-danger">Closed</span>
    }
    </span>
    <span class="pl-2">Label: 
    @if(@Model.Bissue.Label == 0)
    {
        <span class="badge badge-success">Issue</span>
    }
    else
    {
        <span class="badge badge-danger">Bug</span>
    }
    </span>
    <span class="float-right">
    <small>Created: @Model.Bissue.CreatedDate.ToString("MMM dd, yy") | Last Modified: @Model.Bissue.ModifiedDate.ToString("MMM dd, yy")</small>
    </span>
    <hr class="mt-0" />
    @if (SignInManager.IsSignedIn(User) && User.Identity.Name == Model.Bissue.AppUser.UserName || User.IsInRole("Admin"))
    {
        <a class = "btn btn-primary btn-sm mb-2" asp-controller="Bissues" asp-action="Edit" asp-route-id="@Model.Bissue.Id">Edit This Bissue</a>
    }
    <div class="description pl-md-4 pr-md-4 pb-md-3 mb-md-2">
        <h5>Description:</h5>
        @Markdown.ParseHtmlString(Model.Bissue.Description)
    </div>
    <div class="list-inline">
        <a class="list-item mr-md-4 btn btn-primary" data-toggle="collapse" href="#ShareThis" role="button" aria-expanded="false" aria-controls="ShareThis">ShareThis</a>
        <span class="list-item mr-1">Reports of similar experience: @Model.Bissue.MeToos.Count</span>
        <a class="list-item btn btn-primary" asp-action="AddMeToo" asp-route-id="@Model.Bissue.Id">Me Too!</a>
    </div>
    <div class="collapse" id="ShareThis">
        <label>Share This: </label>
        <input type="text" value="@Url.Action("Details", "Bissues", Model.Bissue.Id, "https")" id="PermaLink">
        <button class="btn btn-primary" onclick="shareThis()">Copy Link</button>
    </div>
    <div class="collapse alert alert-success alert-dismissible fade" role="alert" id="CopySuccess"></div>
    <hr/>
    
</div>
<div>
    <a asp-controller="Messages" asp-route-bid="@Model.Bissue.Id" asp-action="Create" class="btn btn-primary">New Message</a>
    <a class = "btn btn-primary" href="javascript:goBack();">Back</a>
</div>
<div>
    <h2>Messages</h2>
    @if(Model.Messages != null)
    {
        @foreach(var msg in Model.Messages)
        {
            <div class="card mb-2 text-dark">
                <div class="card-body">
                    <p class="card-title"><u>@msg.AppUser.DisplayName</u> - <small class="text-muted">@msg.CreatedDate.ToString("ddd MMM dd, yyyy h:mm tt")</small></p>
                    <p class="card-text">@Markdown.ParseHtmlString(msg.Body)</p>
                </div>
                <div class="card-footer">
                    <small>Last edited: <span class="text-muted">@msg.ModifiedDate.ToString("ddd MMM dd, yyyy h:mm tt")</span></small>
                @if (SignInManager.IsSignedIn(User) && User.Identity.Name == msg.AppUser.UserName || User.IsInRole("Admin"))
                {
                    <a asp-controller="Messages" asp-action="Edit" asp-route-id="@msg.Id" class="btn btn-info">Edit message</a>
                }
                </div>
            </div>
        }
    }
    else
    {
        <p>
            No Messages yet!
        </p>
    }
</div>

<table cellpadding="0" cellspacing="0">
    <tr>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <td>
                @if (i != Model.CurrentIndex)
                {
                    <a class="btn btn-outline-primary m-1" asp-action="Details" asp-route-id="@Model.Bissue.Id" asp-route-currentIndex="@i" >@i</a>
                }
                else
                {
                    <span class="btn btn-outline-secondary">@i</span>
                }
            </td>
        }
    </tr>
</table>
 <script src="~/js/site.js"></script> 