@model Bissues.ViewModels.BissuesIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create Bissue</a>
</p>

@foreach (var item in Model.Bissues)
{
    <div class = "card mb-2">
        <a asp-controller="Bissues" asp-action="Details" asp-route-id="@item.Id" class = "btn text-left text-decoration-none">
            <div class="card-body">
                <p class="card-title"><b>@item.Title</b> 
                    @if(item.IsOpen)
                    {
                        <span class="text-success">Open</span>
                    }
                    else
                    {
                        <span class="text-danger">Closed</span>
                    }
                </p>
                @* <p class="card-text">@item.Description</p> *@
                <footer>Project: @item.Project.Name</footer>
            </div>
                
        </a>
    </div>
}

<table cellpadding="0" cellspacing="0">
    <tr>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <td>
                @if (i != Model.CurrentIndex)
                {
                    <a class="btn btn-outline-primary m-1" asp-action="Index" asp-route-index="@i" >@i</a>
                }
                else
                {
                    <span class="btn btn-outline-secondary">@i</span>
                }
            </td>
        }
    </tr>
</table>
