@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Manage Roles";
}

<h4>Manage Roles</h4>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Role</a>
</p>
<table class="table table-striped text-light">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Role Name</th>
            <th scope="col">Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
@{int i = 1;}
@foreach (var item in Model) {
        <tr>
            <th scope="row">@i</th>
            @{i++;}
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-info mr-1" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        
}
    </tbody>
</table>
@* <table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-info mr-1" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
