@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model Bissues.ViewModels.ProjectsDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <small class="text-stupid">Project</small>
    <p class="display-4">@Model.Project.Name</p>
    <small>Created: @Model.Project.CreatedDate.ToString("MMM dd, yyyy") - Last Modified: @Model.Project.ModifiedDate.ToString("MMM dd, yyyy")</small>
    <hr />
    <small class="text-stupid">Description</small>
    <p>@Model.Project.Description</p>
    
</div>
<hr />
<div>
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Project.Id">Edit</a> <span>|</span>
    }
    <a class="btn btn-primary" asp-controller="Bissues" asp-route-pid="@Model.Project.Id" asp-action="Create">Create New Bissue</a>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
<div>
    <h2>
        Bissues
    </h2>
    @if(Model.Bissues != null)
    {
        @foreach (var bissue in Model.Bissues)
        {
            <div class = "card mb-2 text-dark">
                <a asp-controller="Bissues" asp-action="Details" asp-route-id="@bissue.Id" class = "btn text-left text-decoration-none">
                    <div class="card-body">
                        <p class="card-title"><b>@bissue.Title</b> 
                            @if(bissue.IsOpen)
                            {
                                <span class="text-success">Open</span>
                            }
                            else
                            {
                                <span class="text-danger">Closed</span>
                            }
                            <small>Last Modified: @bissue.ModifiedDate.ToString("MM/dd/yy")</small>
                        </p>
                        <p class="card-text">@bissue.Description</p>
                    </div>
                </a>
            </div>
        }
    }
    else{
        <p>
            No Bissues yet!
        </p>
    }
</div>

<table cellpadding="0" cellspacing="0">
    <tr>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <td>
                @if (i != Model.CurrentIndex)
                {
                    <a class="btn btn-outline-primary m-1" asp-action="Details" asp-route-id="@Model.Project.Id" asp-route-currentIndex="@i" >@i</a>
                }
                else
                {
                    <span class="btn btn-outline-secondary">@i</span>
                }
            </td>
        }
    </tr>
</table>
