@using Microsoft.AspNetCore.Identity
@using Westwind.AspNetCore.Markdown
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model IEnumerable<Bissues.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Projects</h1>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
}

<div class="row">
@foreach (var item in Model) {
    <div class="col-sm-6">
    <div class = "card mb-2 text-dark">
        <a asp-action="Details" asp-route-id="@item.Id" 
        class="btn text-left text-decoration-none">
            <div class="card-body row">
                <div class="col">
                    <h4 class="card-title">
                        @item.Name
                        <small>
                            <span class="text-danger">Opened</span>:
                            @item.Bissues.Where(b => b.IsOpen == true).Count()
                            <span class="text-success">Closed</span>:
                            @item.Bissues.Where(b => b.IsOpen == false).Count()
                        </small>
                    </h4>
                    @if(item.Description.Length > 130)
                    {
                        <p class="card-text">@Markdown.ParseHtmlString(item.Description.Substring(0, 130))</p>
                    }
                    else
                    {
                        <p class="card-text">@Markdown.ParseHtmlString(item.Description)</p>
                    }
                </div>
            </div>
        </a>
    </div>
    </div>
        
}
</div>